<div class="d-flex justify-content-center mb-3 col-12 col-sm-6 col-md-10 col-lg-12">
    <div class="row no-gutters">
      <div class="col-5 col-sm-6 col-md-4 col-lg-5">
        <img [src]="user.image" class="card-img rounded-circle p-3" [alt]="user.username">
      </div>
      <div class="col-7 col-sm-6 col-md-6 col-lg-7 border-start border-dark py-3 px-5">
        <div class="card-body">
          <h3 class="card-title">{{user.first_name}}</h3>
          <h3 class="card-title mb-3">{{user.last_name}}</h3>
          <p class="card-text"><strong>Nombre Usuario:</strong> {{user.username}}</p>
          <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
          <div class="mt-2 btn-group">
            <button type="button" class="btn btn-outline-dark" (click)="deleteUser()">Eliminar</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['/updateuser', user._id]">Actualizar</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['/home']">Volver a listado</button>
          </div>
        </div>
      </div>
    </div>
</div>