input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;
    background-color: pink;
}

input.ng-valid.ng-touched {
    border-bottom: 3px solid lightgreen;
    background-color: #EFFBF5;
}
